<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Drink</title>
    <link rel="stylesheet" href="/css/addDrink.css"/>
</head>
<body>
<form action="/drinks" method="post">
    <h1>Add New Drink</h1>
    <input type="text" name="name" placeholder="Name of the drink" required>
    <input type="text" name="description" placeholder="Description" required>
    <input type="text" name="rating" placeholder="Rating" required>
    <input type="text" name="power" placeholder="Drink Power" required>
    <input type="submit" value="Submit">
    <a href="/drinks" class="button back-button">Go Back</a>
</form>
</body>
</html>
