<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drink Library</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1>Drink List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Power in scale from 1 to 5</th>
        <th>Ingredients</th>
    </tr>
    <tr th:each="drink : ${drinks}" th:data-id="${drink.id}" class="clickable-row">
        <td th:text="${drink.name}"></td>
        <td th:text="${drink.description}" class="descriptionText"></td>
        <td th:text="${drink.power.getNumericValue()}"></td>
        <td>
            <ul>
                <li th:each="ingredient : ${drink.ingredients}">
                    <span th:text="${ingredient.getAlcoholType()} + ': ' + ${ingredient.getQuantity()}"></span>
                    </br>
                </li>
            </ul>
        </td>
    </tr>
</table>
<a href="/drinks/add" class="button">Add New Drink</a>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('.clickable-row');
        rows.forEach(row => {
            row.addEventListener('click', function() {
                const drinkId = this.getAttribute('data-id');
                window.location.href = 'drinks/addIngredient/' + drinkId;
            });
        });
    });
</script>
</body>
</html>